.component {
	min-height: 100vh;
}
.description {
	white-space: pre-line;
	text-align: left;
	margin: 20px 10%;
}
.imgContainer {
	height: 80vh;
}
.data {
	position: relative;
	padding-bottom: 200px;
	z-index: 1;
	background-color: #2238;
	backdrop-filter: blur(2px);
}
