.component {
	min-height: 100vh;
}
.component ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.component li {
	text-align: center;
	min-width: 50%;
}
.component p {
	word-wrap: break-word;
}
.imgContainer {
	height: calc(100vh - 75px - 3em);
}
.title {
	position: sticky;
	z-index: 2;
	top: 3em;
	height: 75px;
	background-color: #223c;
	backdrop-filter: blur(2px);
}
.data {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 200px;
	z-index: 1;
	background-color: #223c;
	backdrop-filter: blur(2px);
}
.half1 {
	min-width: 360px;
	max-width: 60%;
	display: flex;
	justify-content: center;
}
.description {
	white-space: pre-line;
	text-align: justify;
	min-width: 300px;
	max-width: 90%;
}
.half2 {
	min-width: 360px;
	max-width: 40%;
}
.rateDate {
	display: flex;
	justify-content: center;
}
.rateDate h1 {
	padding: 10px;
}
