/* Component Styles */
.component {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0 10%;
	min-height: 100vh;
}
.component h1 {
	font-size: 4em;
	text-align: left;
}

.component button {
	font-size: 2em;
	background-color: #A5A8;
	width: fit-content;
}
.component button:enabled:hover {
	background-color: #D8D8;
}
.component button:enabled:active {
	background-color: #858A !important;
}
