.component {
	position: relative;
	display: flex;
	justify-content: center;
	width: 360px;
	height: 200px;
	margin: 8px;
	text-shadow: black 1px 1px 2px;
	box-shadow: 2px 2px 3px 0px #0028;
	border-radius: 0.5em;
	background-image: url('../../res/img/game_default.png');
}
.title {
	position: absolute;
	top: 0;
	z-index: 2;
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 1;
	font-size: 1.5em;
	background-color: #000A;
	width: 100%;
	bottom: 0;
	opacity: 0%;
	height: 100%;
	border-radius: inherit;
}
.info:hover {
	opacity: 100%;
}
.component:hover {
	cursor: pointer;
}
