.component {
	position: relative;
	display: flex;
	justify-content: center;
	width: 360px;
	height: 200px;
	margin: 4px;
	text-shadow: black 1px 1px 2px;
	border-radius: 0.5em;
	background-image: url('../../res/img/game_default.png');
}
.title {
	position: absolute;
	top: 0;
	z-index: 1;
}
.genres {
	position: absolute;
	bottom: 0;
	z-index: 1;
}
.component:hover {
	cursor: pointer;
}
