.component {
	display: flex;
	justify-content: center;
}
.link {
	padding: .9em;
	font-size: 1.1em;
	text-decoration: none;
}
.link:hover {
	text-shadow: 2px 2px 4px #A8F;
}
.linkActive {
	background-color: #4365;
	box-shadow: 2px 2px 4px 0px #0005 inset;
}
