.component {
	display: flex;
	justify-content: center;
}
.link {
	display: flex;
	align-items: center;
	padding: 0 .9em;
	text-decoration: none;
}
.link img {
	position: relative;
	margin-right: 10px;;
}
.link:hover {
	text-shadow: 2px 2px 4px #A8F;
}
.linkActive {
	background-color: #4365;
	box-shadow: 2px 2px 4px 0px #0005 inset;
}
