/*
 *	Global Styles
 * */
/* Animations */
@keyframes showUp {
	0% { opacity: 0%; }
	100% { opacity: 100%;}
}
@keyframes goAway {
	0% { opacity: 100%; }
	100% { opacity: 0%;}
}

/* Import Rajdhani font from Google Fonts */
@font-face {
	font-family: 'Rajdhani-Light';
	src: url('../res/font/Rajdhani-Light.ttf');
}
@font-face {
	font-family: 'Rajdhani-SemiBold';
	src: url('../res/font/Rajdhani-SemiBold.ttf');
}

/* App styles*/
.App {
	background-image: none;
	width: 100%;
	min-height: 100vh;
}
/* App children */
.App * {
	margin: 0;
	transition: all .25s cubic-bezier(.22,.61,.36,1);
	text-align: center;
	/* For debugging only */
	/*padding: 4px; 
	border: 2px solid gray; */
	animation: showUp .5s ease-out;
	
	font-family: 'Rajdhani-SemiBold', sans-serif;
}
/* App children fonts */
.App * h1 {
	font-family: 'Rajdhani-Light', sans-serif;
}
.App * h2 {
	font-family: 'Rajdhani-Light', sans-serif;
}
.App * h3 {
	font-family: 'Rajdhani-Light', sans-serif;
}

/* All buttons who are children of App*/
.App * button {
	background-color: #8884;
	border: none;
	border-radius: 0.7em;
	padding: 0.4em 1em;
	margin: 4px;
	transition: all .25s cubic-bezier(.22,.61,.36,1);
	box-shadow: 1px 1px 10px 0px #0028;
	font-size: 14px;
}
/* Hovering those buttons */
.App * button:hover {
	background-color: #888A;
}
/* Pressing those buttons */
.App * button:enabled:active {
	background-color: #666A;
	box-shadow: 1px 1px 10px 0px #0028 inset;
}
/* Disabled buttons */
.App * button:disabled {
	opacity: 50%;
	background-color: #8884;
}

/* All inputs who are children of App*/
.App * input {
	text-align: left;
	background-color: #8886;
	border: none;
	border-radius: 0.7em;
	padding: 0.4em;
	font-size: 14px;
}
/* All textareas who are children of App*/
.App * textarea {
	resize: none;
	text-align: left;
	background-color: #8886;
	border: none;
	border-radius: 0.7em;
	padding: 0.4em;
}

/* All selects who are children of App*/
.App * select {
	background-color: #8886;
	border: none;
	/*border-radius: 0.7em;*/
	padding: 0.4em;
	margin: 1px;
}
/* Hovering those selects */
.App * select:hover {
	background-color: #888A;
}
/* Pressing those selects */
.App * select:enabled:active {
	background-color: #666A;
	box-shadow: 1px 1px 10px 0px #0028 inset;
}
/* Disabled selects */
.App * select:disabled {
	opacity: 50%;
	background-color: #8884;
}
/* HRs */
.App * hr {
	color: #8884;
	margin: 4px 20px;
}

/* Sticky Nav */
.NAV {
	position: sticky;
	top: 0;
	height: 3em;
}
/* Search & Filter Container */
.searchOptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	font-size: 16px;
}
.listContainer {
	padding-top: 20px;
	padding-bottom: 150px;
}

/* Dark mode */
.dark {
	background-color: #223;
	transition: all .5s cubic-bezier(.22,.61,.36,1);
}
.dark * {
	color: #FFE;
	/*background-color: #223;*/
	/*backdrop-filter: opacity(0);*/
}

/* Light mode */
.light {
	background-color: #FFE;
	transition: all .5s cubic-bezier(.22,.61,.36,1);
}
.light * {
	color: #223;
	/*background-color: #FFE;*/
	/*backdrop-filter: opacity(0);*/
}
