/*
 *	Global Styles
 * */
/* App styles*/
.App {
	background-image: none;
	width: 100%;
	min-height: 100vh;
}
/* App children */
.App * {
	margin: 0;
	transition: all .25s cubic-bezier(.22,.61,.36,1);
	text-align: center;
	/* For debugging only */
	/*padding: 4px; 
	border: 2px solid gray; */
}

/* All buttons who are children of App*/
.App * button {
	background-color: #8884;
	border: none;
	border-radius: 0.7em;
	padding: 0.4em;
	margin: 4px;
	transition: all .25s cubic-bezier(.22,.61,.36,1);
}
/* Hovering those buttons */
.App * button:hover {
	background-color: #888A;
}
/* Disabled buttons */
.App * button:disabled {
	opacity: 50%;
	background-color: #8884;
}

/* All inputs who are children of App*/
.App * input {
	background-color: #8886;
	border: none;
	border-radius: 0.7em;
	padding: 0.4em;
}

/* All selects who are children of App*/
.App * select {
	background-color: #8886;
	border: none;
	/*border-radius: 0.7em;*/
	padding: 0.4em;
}
/* Hovering those selects */
.App * select:hover {
	background-color: #888A;
}
/* Disabled selects */
.App * select:disabled {
	opacity: 50%;
	background-color: #8884;
}

/* Dark mode */
.dark {
	background-color: #223;
	transition: all .5s cubic-bezier(.22,.61,.36,1);
}
.dark * {
	color: #FFE;
	/*background-color: #223;*/
	/*backdrop-filter: opacity(0);*/
}

/* Light mode */
.light {
	background-color: #FFE;
	transition: all .5s cubic-bezier(.22,.61,.36,1);
}
.light * {
	color: #223;
	/*background-color: #FFE;*/
	/*backdrop-filter: opacity(0);*/
}
